* { margin:0; padding:0;}
body { background:#fff; font-family:Tahoma; font-size:100%; line-height:1.125em; color:#5d5d5d;}

#main {
	width:740px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 80px;
	padding-right: 0;
	padding-bottom: 14px;
	padding-left: 0;
}

#content, #sidebar, #footer { font-size:0.69em;}

#content {
	width:353px;
	margin-right:100px;
	float:left;
}
#sidebar {
	width:141px;
	float:left;
}

.col-1, .col-2, .col-3, .col-4 { float:left;}

input, textarea { font-family:Tahoma; font-size:1em;}

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper, block { width:100%; overflow:hidden;}
.container { width:100%;}

p { margin:0; padding:0;}

.tail-top { background:url(/backend/images/tail-top.gif) left top repeat-x;}

/*==================forms====================*/
input, select { vertical-align:middle; font-weight:normal;}
img {border:0; vertical-align:top; text-align:left;}

.form { height:26px;}
.form input {width:273px; height:18px; background:#1b1714; border:1px solid #555038;}
textarea { width:403px; height:128px; background:#1b1714; overflow:auto; border:1px solid #555038;}

/*==================list====================*/
ul { list-style:none;}

#menu { padding:9px 0 28px 0; background:url(/backend/images/line-hor.gif) left bottom repeat-x; width:100%; overflow:hidden; margin-bottom:25px;}
#menu ul li { display:inline;}
#menu ul li a { display:block; float:left; background:url(/backend/images/menu-bg.gif) left top repeat-x; margin-right:8px; font-family:"trebuchet ms"; color:#888; text-decoration:none; text-transform:uppercase;}
#menu ul li a em { display:block; background:url(/backend/images/menu-left.gif) no-repeat left top;}
#menu ul li a b { display:block; background:url(/backend/images/menu-right.gif) no-repeat right top; width:82px; text-align:center; font-style:normal; font-size:.91em; padding:1px 0 3px 0; cursor:pointer;}
#menu ul li a.last { margin-right:0;}
#menu ul li a:hover { color:#e84048;}
#menu ul li a.current { color:#e84048;}

.list1 dt { padding-bottom:6px;}
.list1 dd { padding-bottom:21px;}

/*==================other====================*/
.img-indent { margin:0 20px 0 0; float:left;}
.img-box { width:100%; overflow:hidden; padding-bottom:20px;}
.img-box img { float:left; margin:0 20px 0 0;}

.divider { background:url(/backend/images/divider1.gif) no-repeat right 4px; padding-right:10px; margin-right:10px;}

/*==================txt, links, lines, titles====================*/
a {color:#5d5d5d;}
a:hover{text-decoration:none;}

.txt1 { font-family:"trebuchet ms"; font-size:13px; color:#7f7f7f; line-height:20px;}

.link1 { background:url(/backend/images/marker.gif) no-repeat left 6px; padding-left:11px; color:#515355; font-family:"trebuchet ms"; text-transform:uppercase; text-decoration:none; font-weight:bold; font-size:.91em;}
.link1:hover { text-decoration:underline;}

.line-hor { background:url(/backend/images/line-hor.gif) left bottom repeat-x; padding-bottom:20px; margin-bottom:20px;}

.title { margin-bottom:16px;}
.title1 { margin-bottom:5px;}

/*==================boxes====================*/
.box { background:#fff; width:100%;}
.box .border-top {background:url(/backend/images/border-top.jpg) repeat-x top;}
.box .border-bot {background:url(/backend/images/border-bot.jpg) repeat-x bottom;}
.box .border-left {background:url(/backend/images/border-left.jpg) repeat-y left;}
.box .border-right {background:url(/backend/images/border-right.jpg) repeat-y right;}
.box .left-top-corner {background:url(/backend/images/left-top-corner.jpg) no-repeat left top;}
.box .right-top-corner {background:url(/backend/images/right-top-corner.jpg) no-repeat right top;}
.box .left-bot-corner {background:url(/backend/images/left-bot-corner.jpg) no-repeat left bottom;}
.box .right-bot-corner {background:url(/backend/images/right-bot-corner.jpg) no-repeat right bottom; }
.box .bg { background:url(/backend/images/box-bg.gif) no-repeat 233px bottom; width:100%;}
.box .inside { padding:82px 37px 101px 84px;}

/*content*/
#content p { margin-bottom:8px;}
#content .inner { padding:0 23px 0 0;}
#content .p1 { margin-bottom:18px;}
#content .p2 { margin-bottom:8px;}

/*sidebar*/
/*#sidebar .logo { padding:0 0 49px 0;}

/*footer*/
#footer { font-family:"trebuchet ms"; text-align:right; padding:21px 39px 0 0; font-weight:bold; color:#8c8c8c;}
#footer a { color:#8c8c8c; text-decoration:none;}
#footer a:hover { text-decoration:underline;}
#footer span { background:url(/backend/images/divider.gif) no-repeat right 4px; padding:0 7px 0 0; margin-right:4px;}

/*================== index.html ==================*/
#page1 #content #menu { padding-bottom:68px; margin-bottom:55px;}
#page1 #footer { padding-top:33px;}
